<!DOCTYPE html>
   <head>
      <title>Sensor data </title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
   </head>
   <body>
	<canvas id="sensorChart" width="400" height="400"></canvas>
    <script>
        var sensorCanvas = document.getElementById("sensorChart");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var dataFirst = {
            label: "Temperature (oC)",
            data: {{temp}},
            lineTension: 0.3,
            fill: false,
            borderColor: 'red',
            backgroundColor: 'transparent',
            pointBorderColor: 'red',
            pointBackgroundColor: 'lightgreen',
            pointRadius: 5,
            pointHoverRadius: 15,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rect'
        };

        var dataSecond = {
            label: "Humidity (%)",
            data: {{hum}},
            lineTension: 0.3,
            fill: false,
            borderColor: 'purple',
            backgroundColor: 'transparent',
            pointBorderColor: 'purple',
            pointBackgroundColor: 'lightgreen',
            pointRadius: 5,
            pointHoverRadius: 15,
            pointHitRadius: 30,
            pointBorderWidth: 2
        };

        var sensorData = {
			labels: ["9 hours ago", "8 hours ago", "7 hours ago", "6 hours ago", "5 hours ago", "4 hours ago", "3 hours ago", "2 hours ago", "1 hours ago", "Latest"],
            datasets: [dataFirst, dataSecond]
        };

        var chartOptions = {
            legend: {
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            }
        };

        var lineChart = new Chart(sensorCanvas, {
            type: 'line',
            data: sensorData,
            options: chartOptions
        });
    </script>
   </body>
</html>
